<div class="contact-container">
  <section class="intro">
    <h4 class="scroll-element" appScrollVisible>צרו איתנו קשר</h4>
    <p class="scroll-element" appScrollVisible>
      .נשמח לשמוע ממך! אנא מלא את הטופס למטה ואנו ניצור איתך קשר בהקדם האפשרי
    </p>
  </section>

  <section class="contact-form">
    <form>
      <div class="form-group scroll-element" appScrollVisible>
        <input type="text" id="name" name="name" required />
        <label for="name">:שם</label>
      </div>
      <div class="form-group scroll-element" appScrollVisible>
        <input type="email" id="email" name="email" required />
        <label for="email">:אימייל</label>
      </div>
      <div class="form-group scroll-element" appScrollVisible>
        <input type="text" id="subject" name="subject" required />
        <label for="subject">:נושא</label>
      </div>
      <div class="form-group scroll-element" appScrollVisible>
        <textarea id="message" name="message" rows="5" required></textarea>
        <label for="message">:הודעה</label>
      </div>
      <button
        type="submit"
        class="primary-button scroll-element"
        appScrollVisible
      >
        להשארת פרטים
      </button>
    </form>
  </section>

  <section class="contact-info">
    <h5 class="scroll-element" appScrollVisible>יצירת קשר</h5>
    <p class="scroll-element" appScrollVisible>
      :בכל שאלה או הבהרה בנוגע לתקנון זה או לשימוש באתר, ניתן לפנות אלינו
    </p>
    <address class="scroll-element" appScrollVisible>
      <strong>בכתובת:</strong> רחוב מלי כהן 43, אשקלון<br />
      <strong>בטלפון:</strong> +972 50 0000000<br />
      <a href="mailto:liongroup11@gmail.com">liongroup11&#64;gmail.com</a>
      <strong> :בדוא"ל</strong>
      <br />
      <strong><small class="highlight">Lion</small>Group Ltd</strong>
      <br />
      <strong
        ><small class="highlight">Lion</small>Group תודה על שימושך באתר
        של</strong
      >
    </address>
    <div class="social-media scroll-element" appScrollVisible>
      <h5>!עקבו אחרינו ברשתות החברתיות</h5>
      <ul>
        <li>
          <a href="https://twitter.com/LionGroup" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://linkedin.com/company/LionGroup" target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a href="https://facebook.com/LionGroup" target="_blank">Facebook</a>
        </li>
      </ul>
    </div>
  </section>
</div>
