@import "../../../styles.scss";
.contact-container {
  line-height: 1.6;
  max-width: 800px;
  margin: auto;
  padding-top: 120px;
}

section {
  margin-bottom: 60px;
  padding: 10px 0;
  border-bottom: 1px solid #ecf0f1;
  text-align: right;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}

.form-group {
  margin-bottom: 15px;
}

address {
  font-style: normal;
  margin-top: 10px;
  color: #fff;
  text-align: right;
}

address a {
  text-decoration: none;
  color: $blackThemeOrangeHighlight;
}

address strong {
  font-weight: bold;
  color: $blackThemeGreyText;
}

.highlight {
  color: $blackThemeOrange;
  font-size: 16px;
  font-weight: bold;
}

.social-media ul {
  list-style: none;
  padding: 0;
}

.social-media ul li {
  display: inline-block;
  margin-right: 10px;
}

.social-media ul li a {
  color: #3498db;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.social-media ul li a:hover {
  color: #2980b9;
  text-decoration: underline;
}
