<section>
  <div class="section-container">
    <h4>החבילות שלנו</h4>
    <div class="underline"></div>
    <div class="package-container">
      <div class="package">
        <div class="package-header-container">
          <h3>אתר בייסיק</h3>
          <p>מחיר</p>
        </div>
        <ul>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
        </ul>
        <button class="primary-button">להצעת מחיר</button>
      </div>
      <div class="package">
        <div class="package-header-container">
          <h3>אתר פלטינום</h3>
          <p>מחיר</p>
        </div>
        <ul>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
        </ul>
        <button class="primary-button">להצעת מחיר</button>
      </div>
      <div class="package">
        <div class="package-header-container">
          <h3>אתר פרימיום</h3>
          <p>מחיר</p>
        </div>
        <ul>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
        </ul>
        <button class="primary-button">להצעת מחיר</button>
      </div>
    </div>
  </div>
</section>
