@import "../../../styles.scss";
.terms-container {
  line-height: 1.6;
  max-width: 800px;
  margin: auto;
  padding-top: 120px;
}

section {
  padding: 10px 0;
  text-align: right;
  margin-bottom: 60px;
}

.text-container p {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.terms-container h5 {
  border-right: 5px solid $blackThemeOrangeHighlight;
  border-bottom: 1px solid rgb(203, 201, 201);
  padding-right: 10px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.intro div {
  width: 10%;
  border-bottom: 10px solid $blackThemeOrangeHighlight;
  margin: 40px 0px;
}

ul {
  padding-left: 20px;
  list-style-type: disc;
}

address {
  font-style: normal;
  margin-top: 10px;
  color: #fff;
  text-align: right;
}

address a {
  text-decoration: none;
  color: $blackThemeOrangeHighlight;
}

address strong {
  font-weight: bold;
  color: $blackThemeGreyText;
}

.highlight {
  color: $blackThemeOrange;
  font-size: 16px;
  font-weight: bold;
}
