<div class="terms-container">
  <section class="intro">
    <h4 class="scroll-element" appScrollVisible>תקנון ושימוש אתר</h4>
    <p class="scroll-element" appScrollVisible>
      LionGroup ברוכים הבאים לאתר של
    </p>
    <div></div>
  </section>

  <section class="terms-section">
    <h5 class="scroll-element" appScrollVisible>מבוא</h5>
    <p class="scroll-element" appScrollVisible></p>
  </section>

  <section class="terms-section">
    <div class="text-container">
      <h5 class="scroll-element" appScrollVisible>שירותים</h5>
      <p class="scroll-element" appScrollVisible>
        Unless otherwise stated, LionGroup and/or its licensors own the
        intellectual property rights for all material on LionGroup. All
        intellectual property rights are reserved. You may view and/or print
        pages from http://www.liongroup.com for your own personal use subject to
        restrictions set in these terms and conditions.
      </p>
    </div>
  </section>

  <section class="terms-section">
    <div class="text-container">
      <h5 class="scroll-element" appScrollVisible>שימוש באתר</h5>
      <p class="scroll-element" appScrollVisible>
        Certain parts of this website offer the opportunity for users to post
        and exchange opinions, information, material, and data (‘Comments’).
        LionGroup does not screen, edit, publish, or review Comments prior to
        their appearance on the website and Comments do not reflect the views or
        opinions of LionGroup, its agents, or affiliates.
      </p>
    </div>
  </section>

  <section class="terms-section">
    <div class="text-container">
      <h5 class="scroll-element" appScrollVisible>
        זכויות יוצרים וקניין רוחני
      </h5>
      <p class="scroll-element" appScrollVisible>
        The following organizations may link to our website without prior
        written approval:
      </p>
    </div>
  </section>

  <section class="terms-section">
    <div class="text-container">
      <h5 class="scroll-element" appScrollVisible>פרטיות</h5>
      <p class="scroll-element" appScrollVisible>
        We shall have no responsibility for any content appearing on your
        website. You agree to indemnify and defend us against all claims arising
        out of or based upon your website.
      </p>
    </div>
  </section>

  <section class="terms-section">
    <div class="text-container">
      <h5 class="scroll-element" appScrollVisible>אחריות מוגבלת</h5>
      <p class="scroll-element" appScrollVisible>
        We reserve the right at any time and in our sole discretion to request
        that you remove all links or any particular link to our website.
      </p>
    </div>
  </section>

  <section class="terms-section">
    <div class="text-container">
      <h5 class="scroll-element" appScrollVisible>שינויים בתקנון</h5>
      <p class="scroll-element" appScrollVisible>
        LionGroup may revise these terms of service for its website at any time
        without notice. By using this website you are agreeing to be bound by
        the then current version of these Terms and Conditions of Use.
      </p>
    </div>
  </section>

  <section class="terms-section">
    <div class="text-container">
      <h5 class="scroll-element" appScrollVisible>דין וסמכות שיפוט</h5>
      <p class="scroll-element" appScrollVisible>
        LionGroup may revise these terms of service for its website at any time
        without notice. By using this website you are agreeing to be bound by
        the then current version of these Terms and Conditions of Use.
      </p>
    </div>
  </section>

  <section class="terms-section">
    <h5 class="scroll-element" appScrollVisible>יצירת קשר</h5>
    <p class="scroll-element" appScrollVisible>
      :בכל שאלה או הבהרה בנוגע לתקנון זה או לשימוש באתר, ניתן לפנות אלינו
    </p>
    <address class="scroll-element" appScrollVisible>
      <strong>בכתובת:</strong> רחוב מלי כהן 43, אשקלון<br />
      <strong>בטלפון:</strong> +972 50 0000000<br />
      <a href="mailto:liongroup11@gmail.com">liongroup11&#64;gmail.com</a>
      <strong> :בדוא"ל</strong>
      <br />
      <strong><small class="highlight">Lion</small>Group Ltd</strong>
      <br />
      <strong
        ><span class="highlight">Lion</span>Group תודה על שימושך באתר של</strong
      >
    </address>
  </section>
</div>
