<div class="terms-container">
  <section class="intro">
    <h1 class="scroll-element" appScrollVisible>Terms of Service</h1>
    <p class="scroll-element" appScrollVisible>
      Welcome to LionGroup! These terms and conditions outline the rules and
      regulations for the use of our website.
    </p>
  </section>

  <section class="terms-section">
    <h2 class="scroll-element" appScrollVisible>Introduction</h2>
    <p class="scroll-element" appScrollVisible>
      By accessing this website we assume you accept these terms and conditions
      in full. Do not continue to use LionGroup's website if you do not accept
      all of the terms and conditions stated on this page.
    </p>
  </section>

  <section class="terms-section">
    <h2 class="scroll-element" appScrollVisible>License</h2>
    <p class="scroll-element" appScrollVisible>
      Unless otherwise stated, LionGroup and/or its licensors own the
      intellectual property rights for all material on LionGroup. All
      intellectual property rights are reserved. You may view and/or print pages
      from http://www.liongroup.com for your own personal use subject to
      restrictions set in these terms and conditions.
    </p>
  </section>

  <section class="terms-section">
    <h2 class="scroll-element" appScrollVisible>User Comments</h2>
    <p class="scroll-element" appScrollVisible>
      Certain parts of this website offer the opportunity for users to post and
      exchange opinions, information, material, and data (‘Comments’). LionGroup
      does not screen, edit, publish, or review Comments prior to their
      appearance on the website and Comments do not reflect the views or
      opinions of LionGroup, its agents, or affiliates.
    </p>
  </section>

  <section class="terms-section">
    <h2 class="scroll-element" appScrollVisible>Hyperlinking to our Content</h2>
    <p class="scroll-element" appScrollVisible>
      The following organizations may link to our website without prior written
      approval:
    </p>
    <ul class="scroll-element" appScrollVisible>
      <li>Government agencies;</li>
      <li>Search engines;</li>
      <li>News organizations;</li>
    </ul>
    <p class="scroll-element" appScrollVisible>
      We may consider and approve in our sole discretion other link requests.
    </p>
  </section>

  <section class="terms-section">
    <h2 class="scroll-element" appScrollVisible>Content Liability</h2>
    <p class="scroll-element" appScrollVisible>
      We shall have no responsibility for any content appearing on your website.
      You agree to indemnify and defend us against all claims arising out of or
      based upon your website.
    </p>
  </section>

  <section class="terms-section">
    <h2 class="scroll-element" appScrollVisible>Reservation of Rights</h2>
    <p class="scroll-element" appScrollVisible>
      We reserve the right at any time and in our sole discretion to request
      that you remove all links or any particular link to our website.
    </p>
  </section>

  <section class="terms-section">
    <h2 class="scroll-element" appScrollVisible>Modification of Terms</h2>
    <p class="scroll-element" appScrollVisible>
      LionGroup may revise these terms of service for its website at any time
      without notice. By using this website you are agreeing to be bound by the
      then current version of these Terms and Conditions of Use.
    </p>
  </section>

  <section class="terms-section">
    <h2 class="scroll-element" appScrollVisible>Contact Information</h2>
    <address class="scroll-element" appScrollVisible>
      <strong>Address:</strong> SomeAddress<br />
      <strong>Phone:</strong> Some phone<br />
      <strong>Email:</strong>
      <a href="mailto:contact@LionGroup.com">contact&#64;liongroup.com</a>
    </address>
  </section>
</div>
