<section>
  <div class="slide-sections-container">
    <div class="slide-section">
      <div class="description-icons-back">
        <ul>
          <li
            class="hidden-left"
            appScrollSlideLeft
            [showClass]="'showToRight'"
            [hideClass]="'hideToLeft'"
            [delay]="'0s'"
          >
            <i class="material-icons">code</i>
            עיצוב ופיתוח אתרים מותאמים אישית
          </li>
          <li
            class="hidden-left"
            appScrollSlideLeft
            [showClass]="'showToRight'"
            [hideClass]="'hideToLeft'"
            [delay]="'0.1s'"
          >
            <i class="material-icons">query_stats</i>
            אופטימיזציה למנועי חיפוש (SEO)
          </li>
          <li
            class="hidden-left"
            appScrollSlideLeft
            [showClass]="'showToRight'"
            [hideClass]="'hideToLeft'"
            [delay]="'0.2s'"
          >
            <i class="material-icons">favorite</i>
            ניהול תוכן ובלוגים
          </li>
          <li
            class="hidden-left"
            appScrollSlideLeft
            [showClass]="'showToRight'"
            [hideClass]="'hideToLeft'"
            [delay]="'0.3s'"
          >
            <i class="material-icons">star</i>
            קמפיינים ממומנים ברשתות חברתיות וגוגל
          </li>
          <li
            class="hidden-left"
            appScrollSlideLeft
            [showClass]="'showToRight'"
            [hideClass]="'hideToLeft'"
            [delay]="'0.4s'"
          >
            <i class="material-icons">signal_cellular_alt</i>
            אנליזה ומדידת ביצועים
          </li>
        </ul>
      </div>
      <div class="description">
        <h3
          class="hidden-right"
          appScrollSlideRight
          [showClass]="'showToLeft'"
          [hideClass]="'hideToRight'"
          [delay]="'0s'"
        >
          !עסקה מנצחת
        </h3>
        <p
          class="scroll-element hidden-right"
          appScrollSlideRight
          [showClass]="'showToLeft'"
          [hideClass]="'hideToRight'"
          [delay]="'0.2s'"
        >
          בואו להפוך את החלום הדיגיטלי שלכם למציאות! אנחנו מתמחים בהקמת אתרי
          תדמית ומסחר שמותאמים במיוחד לצרכים שלכם, עם עיצוב מושך וחווית משתמש
          יוצאת דופן. אנחנו לא רק בונים אתרים, אנחנו עוטפים אתכם בחבילת פרימיום
          שתביא את העסק שלכם לשיאים חדשים. עם אסטרטגיות שיווק ופרסום מתקדמות,
          נוביל אתכם לחשיפה מקסימלית וקהל יעד איכותי
        </p>
        <div class="description-icons-front">
          <ul>
            <li class="scroll-element" appScrollVisible>
              <i class="material-icons">code</i>
              <strong>עיצוב ופיתוח אתרים מותאמים אישית: </strong>
              <p>
                יצירת אתרים מקצועיים עם חוויית משתמש מצוינת, המתאימים לכל סוגי
                המכשירים
              </p>
            </li>
            <li class="scroll-element" appScrollVisible>
              <i class="material-icons">query_stats</i>
              <strong>אופטימיזציה למנועי חיפוש (SEO):</strong>
              <p>
                שיפור דירוג האתר בגוגל ובמנועי חיפוש נוספים כדי להגדיל את התנועה
                האורגנית
              </p>
            </li>
            <li class="scroll-element" appScrollVisible>
              <i class="material-icons">favorite</i>
              <strong>ניהול תוכן ובלוגים:</strong>
              <p>כתיבת תכנים שמושכים ומעוררים את הגולשים לבצע פעולות</p>
            </li>
            <li class="scroll-element" appScrollVisible>
              <i class="material-icons">star</i>
              <strong>קמפיינים ממומנים ברשתות חברתיות וגוגל:</strong>
              <p>
                יצירת, ניהול ואופטימיזציה של קמפיינים להגיע לקהלי יעד ממוקדים
                ולהגדיל מעורבות
              </p>
            </li>
            <li class="scroll-element" appScrollVisible>
              <i class="material-icons">signal_cellular_alt</i>
              <strong>אנליזה ומדידת ביצועים:</strong>
              <p>
                ניטור וניתוח שוטף של תנועת האתר וביצועי פרסום לשיפור מתמיד
                והתאמה לצרכים המשתנים של העסק
              </p>
            </li>
          </ul>
        </div>

        <button
          class="primary-button hidden-right"
          appScrollSlideRight
          [showClass]="'showToLeft'"
          [hideClass]="'hideToRight'"
          [delay]="'0.4s'"
          (click)="goToServices()"
        >
          &larr; לחבילות שלנו
        </button>
      </div>
    </div>
  </div>
</section>
