@import "../../../styles.scss";
.about-container {
  line-height: 1.6;
  max-width: 800px;
  margin: auto;
  padding-top: 120px;
}

section {
  margin-bottom: 60px;
  padding: 10px 0;
  text-align: right;
}

section p {
  font-size: 16px;
  letter-spacing: 0.5px;
}

section h5 {
  border-bottom: 1px solid $blackThemeGreyText;
  border-right: 5px solid $blackThemeOrangeHighlight;
  padding-right: 10px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.intro div {
  width: 10%;
  border-bottom: 10px solid $blackThemeOrangeHighlight;
  margin: 40px 0px;
}

ul,
ol {
  padding-left: 20px;
  direction: rtl;
}

li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
  color: #fff;
}

address {
  font-style: normal;
  margin-top: 10px;
  color: #fff;
  text-align: right;
}

address a {
  text-decoration: none;
  color: $blackThemeOrangeHighlight;
}

address strong {
  font-weight: bold;
  color: $blackThemeGreyText;
}

.highlight {
  color: $blackThemeOrange;
  font-size: 16px;
  font-weight: bold;
}

.social-media ul {
  list-style: none;
  padding: 0;
}

.social-media ul li {
  display: inline-block;
  margin-right: 10px;
}

.social-media ul li a {
  color: #3498db;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.social-media ul li a:hover {
  color: #2980b9;
  text-decoration: underline;
}

/* Adding image and card style for the team section */
.team-container {
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  flex: 1 1 calc(33.333% - 20px);
  margin: 10px;
  padding: 15px;
  background: #2c3e50;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, background 0.3s ease;
}

.team-member:hover {
  background: #3d566b;
  transform: translateY(-5px);
}

.team-member img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 1.2em;
  color: #ecf0f1;
  margin: 10px 0;
}

.team-member p {
  font-size: 0.9em;
  line-height: 1.4;
  color: #ecf0f1;
}
