<section>
  <div class="contact-form-photo">
    <div class="contact-form-container">
      <h3 class="scroll-element" appScrollVisible>!צרו איתנו קשר</h3>
      <h5 class="scroll-element" appScrollVisible>
        לקבלת ייעוץ השאירו פרטים ונשוב אליכם בהקדם
      </h5>
      <form autocomplete="off" autocapitalize="off">
        <div class="form-group scroll-element" appScrollVisible>
          <input type="text" id="name" name="name" required />
          <label for="name">:שם מלא</label>
        </div>
        <div class="form-group scroll-element" appScrollVisible>
          <input type="email" id="email" name="email" required />
          <label for="email">:אימייל</label>
        </div>
        <div class="form-group scroll-element" appScrollVisible>
          <input type="text" id="subject" name="company" required />
          <label for="company">:שם העסק</label>
        </div>
        <button type="submit" class="primary-button" appScrollVisible>
          שליחה
        </button>
      </form>
    </div>
  </div>
</section>
