<section>
  <div class="panels-container">
    <h2>?איזה אתר תרצו שנבנה לכם</h2>
    <ul class="websites-panels">
      <li class="panel scroll-element" appScrollVisible>
        <div class="panel-header-container">
          <h4>דף נחיתה</h4>
          <p>עמוד אחד -ללא הגבלת תוכן</p>
        </div>
        <ul>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
        </ul>
        <button class="primary-button">להצעת מחיר</button>
      </li>
      <li class="panel scroll-element" appScrollVisible>
        <div class="panel-header-container">
          <h4>אתר תדמית</h4>
          <p>עד 5 עמודים</p>
        </div>
        <ul>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
        </ul>
        <button class="primary-button">להצעת מחיר</button>
      </li>
      <li class="panel scroll-element" appScrollVisible>
        <div class="panel-header-container">
          <h4>קטלוג</h4>
          <p>עד 10 עמודים</p>
        </div>
        <ul>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
        </ul>
        <button class="primary-button">להצעת מחיר</button>
      </li>
      <li class="panel scroll-element" appScrollVisible>
        <div class="panel-header-container">
          <h4>אתר חנות</h4>
          <p>ללא הגבלת תוכן</p>
        </div>
        <ul>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
          <li class="parameter">param1</li>
        </ul>
        <button class="primary-button">להצעת מחיר</button>
      </li>
    </ul>
  </div>
</section>
