.showToRight {
  animation: slideInToRight 0.5s forwards;
}

.hideToLeft {
  animation: slideOutToLeft 0.5s backwards;
}

@keyframes slideInToRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
