.showToLeft {
  animation: slideInToLeft 0.5s forwards;
}

.hideToRight {
  animation: slideOutToRight 0.5s backwards;
}

@keyframes slideInToLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
