@import "../../../styles.scss";

.short-section {
  width: 100%;
  max-height: 120vh;
  height: fit-content;
  position: relative;
  padding-top: 120px;
  padding-bottom: 60px;
}

.header-1 {
  font-size: 6em;
  margin-bottom: 20px;
  margin-top: 0;
}

input,
textarea {
  border-radius: 4px;
  border: 1px solid #d8d8d8a0;
  padding: 10px 10px 10px 5px;
  font-size: 18px;
  width: 100%;
  outline: none;
  transition: border-color 0.3s;
  text-align: right;
  margin-top: 20px;
  color: #000000;
  background-color: #d8d8d8a0;
  backdrop-filter: blur(5px);
}

input:focus,
textarea:focus {
  border-color: #f39c12;
}

label {
  position: absolute;
  top: 30px;
  right: 0px;
  padding: 0 5px;
  font-size: 20px;
  pointer-events: none;
  color: #000000;
  transition: all 0.5s ease;
}

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  top: 0px;
  right: -10px;
  font-size: 16px;
  color: #f39c12;
}

.form-group {
  width: 100%;
  margin-bottom: 5px;
}

.background-video-container {
  position: relative;
  overflow: hidden;
}

.background-2section-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.background-video-container::before,
.background-video-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 5%;
  background: linear-gradient(to bottom, black, transparent);
  z-index: 1;
  pointer-events: none; /* Ensure it doesn't interfere with interactions */
}

.background-video-container::before {
  top: 0;
}

.background-video-container::after {
  bottom: 0;
  background: linear-gradient(to top, black, transparent);
}

@media screen and (max-width: 768px) {
  .short-section {
    max-height: fit-content;
  }
}

@keyframes shineAnimation {
  0% {
    background-position: 200% 0; /* Start from the right */
  }
  100% {
    background-position: -200% 0; /* Move to the left */
  }
}

@keyframes shineAnimation {
  0% {
    background-position: 200% 0; /* Start from the right */
  }
  100% {
    background-position: -200% 0; /* Move to the left */
  }
}
