@import "../../../styles.scss";

.services-section {
  overflow: hidden;
}

.slide-section {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  flex-wrap: nowrap;
  width: 400%;
  height: 100%;
  transition: transform 0.5s ease;
}

.scroll-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../../assets/bio-photo.jpg);
}

ul {
  padding: 0 20px;
  margin: 20px auto;
  max-width: 550px;
  direction: rtl;
  list-style: none;
}

ul li {
  padding: 10px;
  padding-right: 60px;
  color: $blackThemeGreyText;
  font-weight: 20px;
  position: relative;
}

ul li strong {
  color: $blackThemeOrangeHighlight;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: bold;
}

ul li i {
  color: $blackThemeOrangeHighlight;
  font-size: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.description {
  max-width: 550px;
  padding: 20px;
  height: fit-content;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 15px solid #ffffff;
}

.description h2 {
  font-size: 48px;
  text-align: center;
  color: #ecf0f1;
}

.description p {
  font-size: 22px;
  color: #ecf0f1;
}

.description .primary-button {
  width: 40%;
  margin: auto;
  margin-top: 40px;
}

.form-container {
  width: 300px;
  padding: 20px;
  z-index: 100;
  position: absolute;
  top: 0%;
  right: 15%;
}

.form-container h3 {
  text-align: center;
  color: #ecf0f1;
  margin-bottom: 20px;
}

.service-link {
  color: #3498db;
  padding: 10px;
}

.btn-slider-right,
.btn-slider-left {
  height: 100%;
  background-color: transparent;
  border: none;
  color: #ecf0f166;
  padding: 5px 50px;
  font-size: 5em;
  transition: all 0.3s ease;
}

.btn-slider-left {
  position: absolute;
  top: 0;
  left: 0;
}

.btn-slider-right {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-slider-right:hover,
.btn-slider-left:hover {
  cursor: pointer;
  color: black;
  background-color: $blackThemeWhiteText;
}

.services-container {
  position: relative;
  border-top: 90px solid
      linear-gradient(from middle to left $blackThemeWhiteText, black),
    linear-gradient(from middle to right $blackThemeWhiteText, black);
}

@media screen and (max-width: 1024px) {
  .form-container {
    width: 300px;
  }

  .description h2 {
    font-size: 2.5em;
  }

  .description p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .slide-section {
    height: 100%;
    margin-bottom: 60px;
  }

  .web-design-photo,
  .api-photo,
  .seo-photo,
  .e-commerce-photo {
    display: none;
  }

  .description {
    position: relative;
    max-width: 400px;
    top: 0;
    left: 0;
    margin: auto;
  }

  .scroll-sections {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    transform: translateX(0);
  }

  .form-container {
    display: none;
  }

  .btn-slider-left {
    display: none;
  }

  .btn-slider-right {
    display: none;
  }

  .form-container {
    width: 200px;
    display: none;
  }

  .description h2 {
    font-size: 2em;
  }

  .description p {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .form-container {
    width: 100%;
  }

  .description {
    max-width: 100%;
    padding: 10px;
  }

  .description h2 {
    font-size: 1.5em;
  }

  .description p {
    font-size: 14px;
  }
}
