<section id="about">
  <div class="short-description-container">
    <h2 class="scroll-element" appScrollVisible>מצליחים יותר</h2>
    <h2 class="scroll-element" appScrollVisible>
      <strong class="highlight">Lion</strong>Group עם
    </h2>
    <p class="scroll-element" appScrollVisible>
      לאיונגרופ היא חברה מובילה בתחום הקמת אתרים ושיווק דיגיטלי, המציעה פתרונות
      מקיפים ומותאמים אישית לכל לקוח. אנו מתמחים בבניית מגוון רחב של אתרים<br /><br />צוות
      המומחים שלנו מחויב להעניק ללקוחותינו חוויה מקצועית ובטוחה לאורך כל התהליך,
      תוך שימוש בטכנולוגיות החדישות ביותר. בנוסף להקמת אתרים, אנו מציעים שירותי
      שיווק ופרסום דיגיטליים מתקדמים, המיועדים להגדיל את החשיפה ולמקסם את ההצלחה
      של עסקך באינטרנט<br /><br />
      בלאיונגרופ, אנו שואפים תמיד למצוינות ומחויבים להצלחת לקוחותינו, תוך יצירת
      פתרונות חדשניים המותאמים לצרכי השוק המשתנים
    </p>
    <div class="short-description-photos1"></div>
    <div class="short-description-photos2"></div>
  </div>
</section>
