<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <h5 class="scroll-element" appScrollVisible>פעולות זריזות</h5>
      <ul>
        <li class="scroll-element" appScrollVisible>
          <a href="/about">אודות</a>
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="/contact">צרו קשר</a>
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="/terms">תקנון</a>
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="/portfolio">פרוייקטים</a>
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="/services">השירותים שלנו</a>
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="/faqs">שאלות ותשובות</a>
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <h5 class="scroll-element" appScrollVisible>תעקבו אחרינו</h5>
      <ul>
        <li class="scroll-element" appScrollVisible>
          <a href="https://twitter.com/TechWebSolutions" target="_blank"
            >Twitter</a
          >
        </li>
        <li class="scroll-element" appScrollVisible>
          <a
            href="https://linkedin.com/company/techwebsolutions"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="https://facebook.com/TechWebSolutions" target="_blank"
            >Facebook</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-contact">
      <h5 class="scroll-element" appScrollVisible>מוקד התקשרות</h5>
      <address class="scroll-element" appScrollVisible>
        <div><strong>בכתובת:</strong> רחוב מלי כהן 43, אשקלון</div>
        <div><strong>בטלפון:</strong> +972 50 0000000</div>
        <div>
          <a href="mailto:liongroup11@gmail.com">liongroup11&#64;gmail.com</a>
          <strong> :בדוא"ל</strong>
        </div>
      </address>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="scroll-element" appScrollVisible>
      &copy; 2024 LionGroup Web Solutions. All rights reserved.
    </p>
  </div>
</footer>
