<nav class="navbar">
  <a class="logo" routerLink="/" (click)="setCurrentRoute('home')"></a>
  <ul class="nav-links-list">
    <li class="nav-link-container">
      <a
        class="nav-link"
        routerLink="/home"
        [ngClass]="{ active: currentRoute === 'home' }"
        (click)="setCurrentRoute('home')"
        >דף בית</a
      >
    </li>
    <li class="nav-link-container">
      <a
        class="nav-link"
        routerLink="/services"
        [ngClass]="{ active: currentRoute === 'services' }"
        (click)="setCurrentRoute('services')"
        >השירותים שלנו</a
      >
    </li>
    <li class="nav-link-container">
      <a
        class="nav-link"
        routerLink="/portfolio"
        [ngClass]="{ active: currentRoute === 'portfolio' }"
        (click)="setCurrentRoute('portfolio')"
        >פרוייקטים</a
      >
    </li>
    <li class="nav-link-container">
      <a
        class="nav-link"
        routerLink="/contact"
        [ngClass]="{ active: currentRoute === 'contact' }"
        (click)="setCurrentRoute('contact')"
        >צור קשר</a
      >
    </li>
    <li class="nav-link-container">
      <a
        class="nav-link"
        routerLink="/faqs"
        [ngClass]="{ active: currentRoute === 'faqs' }"
        (click)="setCurrentRoute('faqs')"
        >שאלות ותשובות</a
      >
    </li>
    <li class="nav-link-container">
      <a
        class="nav-link"
        routerLink="/about"
        [ngClass]="{ active: currentRoute === 'about' }"
        (click)="setCurrentRoute('about')"
        >אודות</a
      >
    </li>
    <li class="nav-link-container">
      <a
        class="nav-link"
        routerLink="/terms"
        [ngClass]="{ active: currentRoute === 'terms' }"
        (click)="setCurrentRoute('terms')"
        >תקנון</a
      >
    </li>
  </ul>
  <div class="burger" (click)="toggleNavbar()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <h3 class="scroll-element" appScrollVisible>פעולות זריזות</h3>
      <ul>
        <li class="scroll-element" appScrollVisible>
          <a href="/about">אודות</a>
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="/contact">צרו קשר</a>
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="/terms">תקנון</a>
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="/portfolio">פרוייקטים</a>
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="/services">השירותים שלנו</a>
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="/faqs">שאלות ותשובות</a>
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <h3 class="scroll-element" appScrollVisible>תעקבו אחרינו</h3>
      <ul>
        <li class="scroll-element" appScrollVisible>
          <a href="https://twitter.com/TechWebSolutions" target="_blank"
            >Twitter</a
          >
        </li>
        <li class="scroll-element" appScrollVisible>
          <a
            href="https://linkedin.com/company/techwebsolutions"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="https://facebook.com/TechWebSolutions" target="_blank"
            >Facebook</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-contact">
      <h3 class="scroll-element" appScrollVisible>מוקד תקשורת</h3>
      <address class="scroll-element" appScrollVisible>
        <div><strong>:כתובת</strong> Some address</div>
        <br />
        <div><strong>:טלפון</strong> Some phone</div>
        <br />
        <div>
          <strong>:אימייל</strong>
          <a href="mailto:contact@LionGroup.com"> contact&#64;LionGroup.com</a>
        </div>
      </address>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="scroll-element" appScrollVisible>
      &copy; 2024 LionGroup Web Solutions. All rights reserved.
    </p>
  </div>
</footer>
