body,
html {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 10px 20px;
  padding-right: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  padding: 0px 20px;
}

.nav-links li {
  padding: 0 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  transition: all 0.1s ease-in-out;
  color: #ff6347; /* Tomato color */
  cursor: pointer;
}

.active {
  color: #ff6347 !important; /* Tomato color */
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.content {
  padding: 20px;
}

.footer {
  background: #2c3e50;
  color: #ecf0f1;
  padding: 20px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.footer-content div {
  margin-bottom: 20px;
  flex: 1 1 300px;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li,
.footer-social ul li {
  margin-bottom: 10px;
}

.footer-links ul li a,
.footer-social ul li a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover,
.footer-social ul li a:hover {
  color: #3498db;
}

.footer-contact address {
  font-style: normal;
}

.footer-contact address a {
  color: #ecf0f1;
  text-decoration: underline;
}

.footer-contact address div {
  margin: 0;
}

.footer-bottom {
  border-top: 1px solid #34495e;
  padding-top: 10px;
  margin-top: 20px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
  }

  .nav-links li {
    text-align: center;
    padding: 14px 0;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: block;
  }
}

.burger-toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-toggle .line2 {
  opacity: 0;
}

.burger-toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

a {
  text-decoration: none;
}
