<nav class="navbar">
  <a class="logo" routerLink="/" (click)="setCurrentRoute('home')"></a>
  <ul class="nav-links">
    <li>
      <a
        routerLink="/home"
        [ngClass]="{ active: currentRoute === 'home' }"
        (click)="setCurrentRoute('home')"
        >דף בית</a
      >
    </li>
    <li>
      <a
        routerLink="/services"
        [ngClass]="{ active: currentRoute === 'services' }"
        (click)="setCurrentRoute('services')"
        >השירותים שלנו</a
      >
    </li>
    <li>
      <a
        routerLink="/portfolio"
        [ngClass]="{ active: currentRoute === 'portfolio' }"
        (click)="setCurrentRoute('portfolio')"
        >פרוייקטים</a
      >
    </li>
    <li>
      <a
        routerLink="/contact"
        [ngClass]="{ active: currentRoute === 'contact' }"
        (click)="setCurrentRoute('contact')"
        >צור קשר</a
      >
    </li>
    <li>
      <a
        routerLink="/faqs"
        [ngClass]="{ active: currentRoute === 'faqs' }"
        (click)="setCurrentRoute('faqs')"
        >שאלות ותשובות</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        [ngClass]="{ active: currentRoute === 'about' }"
        (click)="setCurrentRoute('about')"
        >אודות</a
      >
    </li>
    <li>
      <a
        routerLink="/terms"
        [ngClass]="{ active: currentRoute === 'terms' }"
        (click)="setCurrentRoute('terms')"
        >תקנון</a
      >
    </li>
  </ul>
  <div class="burger" (click)="toggleNavbar()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <h3 class="scroll-element" appScrollVisible>Quick Links</h3>
      <ul>
        <li class="scroll-element" appScrollVisible>
          <a href="/about">About</a>
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="/contact">Contact</a>
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="/terms">Terms of Service</a>
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <h3 class="scroll-element" appScrollVisible>Follow Us</h3>
      <ul>
        <li class="scroll-element" appScrollVisible>
          <a href="https://twitter.com/TechWebSolutions" target="_blank"
            >Twitter</a
          >
        </li>
        <li class="scroll-element" appScrollVisible>
          <a
            href="https://linkedin.com/company/techwebsolutions"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li class="scroll-element" appScrollVisible>
          <a href="https://facebook.com/TechWebSolutions" target="_blank"
            >Facebook</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-contact">
      <h3 class="scroll-element" appScrollVisible>Contact Information</h3>
      <address class="scroll-element" appScrollVisible>
        <div><strong>Address:</strong> Some address</div>
        <br />
        <div><strong>Phone:</strong> Some phone</div>
        <br />
        <div>
          <strong>Email: </strong>
          <a href="mailto:contact@LionGroup.com">contact&#64;LionGroup.com</a>
        </div>
      </address>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="scroll-element" appScrollVisible>
      &copy; 2024 LionGroup Web Solutions. All rights reserved.
    </p>
  </div>
</footer>
